/* _content/UserLibrary/Components/CreateWithPassword.razor.rz.scp.css */
.custom-password-icon[b-fzbk19dhwo] {
	color: rgba(0,0,0,.45);
	cursor: pointer;
	transition: all .3s;
}

.flex-container[b-fzbk19dhwo] {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.mid[b-fzbk19dhwo] {
	align-self: center;
}

.bot[b-fzbk19dhwo] {
	align-self: flex-end;
}
/* _content/UserLibrary/Components/CreateWithPrivateKey.razor.rz.scp.css */
.custom-password-icon[b-838m2e36f3] {
	color: rgba(0,0,0,.45);
	cursor: pointer;
	transition: all .3s;
}

.flex-container[b-838m2e36f3] {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.mid[b-838m2e36f3] {
	align-self: center;
}

.bot[b-838m2e36f3] {
	align-self: flex-end;
}
/* _content/UserLibrary/Components/OpenWithPassword.razor.rz.scp.css */
.custom-password-icon[b-qx0o1j4oq4] {
	color: rgba(0,0,0,.45);
	cursor: pointer;
	transition: all .3s;
}

.flex-container[b-qx0o1j4oq4] {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.mid[b-qx0o1j4oq4] {
	align-self: center;
}

.bot[b-qx0o1j4oq4] {
	align-self: flex-end;
}
/* _content/UserLibrary/Components/Pool.razor.rz.scp.css */
.swc[b-rp347qdjyt] {
	display: flex;
	padding: 3px;
	background: #EEEEEE;
	display: inline-block;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
}

.swt[b-rp347qdjyt] {
	margin: 10px;
	border-collapse: separate;
	background: #EEEEEE;
	border: 3px;
}

.round[b-rp347qdjyt] {
	border-radius: 15px;
	padding: 5px;
	background: white;
}

	.swt td[b-rp347qdjyt] {
		background-clip: padding-box;
		color: black;
		border: 5px solid #EEEEEE;
		border-radius: 5px;
		background: #EEEEEE;
	}

	.swt tr td:nth-child(2)[b-rp347qdjyt] {
		text-align: right;
	}
/* _content/UserLibrary/Components/Swap.razor.rz.scp.css */
.swc[b-mxo96qvchw] {
	display: flex;
	padding: 3px;
	background: #EEEEEE;
	display: inline-block;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
}

.swt[b-mxo96qvchw] {
	margin: 10px;
	border-collapse: separate;
	background: #EEEEEE;
	border: 3px;
}

.round[b-mxo96qvchw] {
	border-radius: 15px;
	padding: 5px;
	background: white;
}

	.swt td[b-mxo96qvchw] {
		background-clip: padding-box;
		color: black;
		border: 5px solid #EEEEEE;
		border-radius: 5px;
		background: #EEEEEE;
	}

	.swt tr td:nth-child(2)[b-mxo96qvchw] {
		text-align: right;
	}
/* _content/UserLibrary/Components/SwapFullUI.razor.rz.scp.css */
.cet[b-1xofqrj86z] {
	display: inline-flex;
	content-justify: center;
}

.pad[b-1xofqrj86z] {
	display: flex;
	padding-top: 35px;
	width: 100%;
	align-content: center;
	justify-content: center;
}
/* _content/UserLibrary/Components/TokenMint.razor.rz.scp.css */
/* _content/UserLibrary/Components/TopBar.razor.rz.scp.css */
.tg[b-cvvdiq80ub] {
	display: flex;
	gap: 15px;
	align-items: center;
}

.top-row[b-cvvdiq80ub] {
	background-color: #f7f7f7;
	border-bottom: 1px solid #d6d5d5;
	justify-content: space-between;
	height: 3.5rem;
	display: flex;
	align-items: center;
}

	.top-row[b-cvvdiq80ub]  a, .top-row .btn-link[b-cvvdiq80ub] {
		white-space: nowrap;
		margin-left: 1.5rem;
	}

	.top-row a:first-child[b-cvvdiq80ub] {
		overflow: hidden;
		text-overflow: ellipsis;
	}

@media (max-width: 640.98px) {
	.top-row:not(.auth)[b-cvvdiq80ub] {
		display: none;
	}

	.top-row.auth[b-cvvdiq80ub] {
		justify-content: space-between;
	}

	.top-row a[b-cvvdiq80ub], .top-row .btn-link[b-cvvdiq80ub] {
		margin-left: 0;
	}
}

@media (min-width: 641px) {
	.top-row[b-cvvdiq80ub] {
		position: sticky;
		top: 0;
		z-index: 1;
	}

	.top-row[b-cvvdiq80ub], article[b-cvvdiq80ub] {
/*		padding-left: 2rem !important;
		padding-right: 1.5rem !important;*/
	}
}
/* _content/UserLibrary/Pages/WebWallet.razor.rz.scp.css */
.cet[b-pd0cf3o6fw] {
    padding-top: 25px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    flex-direction: row;
    gap: 25px;
}

.simp[b-pd0cf3o6fw] {
    padding-top: 25px;
}
