@page "/otc/mytrades"

@using Fluxor
@using Nebula.Store.WebWalletUseCase

@inherits PageWithContextMenu

<div class="mag cet">
    @if (walletState.Value.wallet == null)
    {
        <a href="/wallet">@localizer["Open wallet to view trades."]</a>
    }
    else
    {
        <h3>@localizer["All my OTC trades"]</h3>
        <UserLibrary.Components.OTC.TransactionsList />
    }
</div>

@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }
    [Inject] IStringLocalizer<MyTrades>? localizer { get; set; }

    protected override void OnInitialized()
    {
        _title = localizer["My OTC Trades"];
        base.OnInitialized();
    }
}

