@page "/otc/new"

@inherits PageWithContextMenu

<div class="cet mag">
    <UserLibrary.Components.OTC.CreateNewOrder />
</div>

@code {
    [Inject] IStringLocalizer<NewOrder>? localizer { get; set; }

    protected override void OnInitialized()
    {
        _title = localizer["Create New OTC Order"];
        base.OnInitialized();
    }
}
