.nw {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	align-items: center;
	gap: 10px;
}

.container {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px;
}

.price {
	font-size: x-large;
	color: green;
}

.market {
	font-size: x-small;
	color: black;
}

.dir {
	font-weight: bold;
}

.b {
	font-weight: bold;
	color: navy;
}

.ipt {
	width: 150px;
}

.getmnt {
	font-size: xx-large;
	width: 100%;
	padding: 20px;
}

.pm {
	background-color: lightgreen;
	border-radius: 3px;
	padding: 0px;
	margin: 5px;
	white-space: nowrap;
}