@page "/v2"
@using BusinessLayer.Lib;
@using Fluxor;
@using Nebula.Store.WebWalletUseCase;
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IJSRuntime JS;
@inject NavigationManager navigator;

<a href="/market">market</a> &nbsp;
<a href="/create-wallet">create wallet</a> &nbsp;
<a href="/v1">Old entry</a> &nbsp;

<div id="root"></div>

