#dealers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #dealers td, #dealers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #dealers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #dealers tr:hover {
        background-color: #ddd;
    }

    #dealers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
