.pxl-20210309-203454756-1-icon {
  position: absolute;
  top: 106px;
  left: 97px;
  border-radius: var(--br-sm);
  width: 192px;
  height: 192px;
  object-fit: cover;
}
.should-not-see-me {
  position: absolute;
  top: 317px;
  left: 134px;
  display: inline-block;
  width: 119px;
  height: 18px;
}
.empty {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 399px;
  overflow: hidden;
  text-align: left;
  font-size: var(--caption-size);
  color: var(--black-000000100);
  font-family: var(--font-myriad-pro);
}
