.fill-1-icon,
.fill-3-icon,
.fill-6-icon,
.group-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
}
.group-icon {
  height: 78.89%;
  width: 99.75%;
  top: 11.06%;
  right: 0;
  bottom: 10.05%;
  left: 0.25%;
  opacity: 0.08;
}
.fill-1-icon {
  opacity: 0.3;
}
.fill-3-icon,
.fill-6-icon {
  height: 4.61%;
  width: 17.2%;
  top: 32.66%;
  right: 8.23%;
  bottom: 62.73%;
  left: 74.57%;
  opacity: 0.3;
}
.fill-6-icon {
  height: 5.11%;
  top: 15.28%;
  right: 40.26%;
  bottom: 79.61%;
  left: 42.54%;
}
.fill-1-icon {
  height: 6.2%;
  width: 20.85%;
  top: 29.44%;
  right: 65.97%;
  bottom: 64.36%;
  left: 13.18%;
}
.fill-62-icon {
  height: 1.56%;
  width: 17.16%;
  top: 77.14%;
  right: 18.15%;
  bottom: 21.31%;
  left: 64.69%;
  opacity: 0.16;
  mix-blend-mode: normal;
}
.fill-62-copy,
.fill-62-icon,
.group-icon1,
.group-icon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fill-62-copy {
  height: 1.56%;
  width: 17.16%;
  top: 76.88%;
  right: 63.34%;
  bottom: 21.56%;
  left: 19.51%;
  opacity: 0.16;
  mix-blend-mode: normal;
}
.group-icon1 {
  height: 19.81%;
  width: 10.79%;
  top: 63.35%;
  right: 4.15%;
  bottom: 16.83%;
  left: 85.06%;
}
.group-icon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div {
  position: absolute;
  height: 6.74%;
  width: 0.36%;
  top: 38.72%;
  left: 54.9%;
  font-size: var(--caption-size);
  font-family: var(--font-myriad-pro);
  color: #000;
  text-align: left;
  display: inline-block;
}
.group-div,
.group-icon3 {
  position: absolute;
  height: 52.15%;
  width: 65.94%;
  top: 25.94%;
  right: 15.29%;
  bottom: 21.91%;
  left: 18.77%;
}
.group-icon3 {
  height: 17.31%;
  width: 9.32%;
  top: 55.81%;
  right: 85%;
  bottom: 26.88%;
  left: 5.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.illus7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 76.21%;
  width: 54.24%;
  top: 12.1%;
  right: 22.88%;
  bottom: 11.69%;
  left: 22.88%;
}
.bannersection {
  position: relative;
  background-color: var(--color-white);
  width: 400px;
  height: 280px;
  flex-shrink: 0;
  overflow: hidden;
}
.catalogue {
  position: absolute;
  top: 10px;
  left: 16px;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.mask,
.mask1 {
  border-radius: var(--br-md);
}
.mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.1);
}
.mask1 {
  background-color: rgba(15, 35, 64, 0.67);
}
.mask1,
.nathan-fertig-249917-unsplash {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.living-room1 {
  position: absolute;
  top: calc(50% - 9px);
  left: 11%;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.living-room {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--caption-size);
}
.mask3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: rgba(255, 172, 0, 0.57);
}
.mask3,
.mask5,
.office1 {
  position: absolute;
}
.office1 {
  top: calc(50% - 9px);
  left: 10%;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.mask5 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: rgba(0, 190, 206, 0.67);
}
.kitchen-dining {
  position: absolute;
  top: calc(50% - 9px);
  left: 6%;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.kitchen {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}
.mask7 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-md);
  background-color: rgba(78, 90, 195, 0.68);
}
.frame-div,
.mask7,
.mask9 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mask9 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-md);
  background-color: rgba(250, 114, 104, 0.67);
}
.frame-div {
  top: 39px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: center;
  color: var(--color-white);
}
.cataloguesection,
.frame-div,
.rectangle {
  background-color: var(--color-white);
}
.cataloguesection {
  position: relative;
  width: 400px;
  height: 171px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--body-s-size);
}
.rectangle {
  position: absolute;
  height: 38.15%;
  width: 91.47%;
  top: 14.46%;
  right: 4.27%;
  bottom: 47.38%;
  left: 4.27%;
  border-radius: var(--br-md);
  box-shadow: var(--effect);
}
.div1,
.div2,
.yellow-sofa {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.yellow-sofa {
  width: 21.6%;
  top: calc(50% - 99.5px);
  left: 57.33%;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
}
.div1,
.div2 {
  font-weight: 500;
}
.div1 {
  width: 9.07%;
  top: calc(50% - 49.5px);
  left: 76.8%;
  letter-spacing: 0.41px;
  color: var(--color-coral);
}
.div2 {
  width: 68.25%;
  top: calc(50% - 9px);
  left: 31.75%;
  text-decoration: line-through;
  letter-spacing: -0.08px;
}
.iconglyphstar-copy-2 {
  position: absolute;
  height: 88.89%;
  width: 25.4%;
  top: 5.56%;
  right: 74.6%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div1 {
  position: absolute;
  height: 5.54%;
  width: 16.8%;
  top: 34.77%;
  right: 25.87%;
  bottom: 59.69%;
  left: 57.33%;
  overflow: hidden;
  color: var(--color-gray-1);
  font-family: var(--font-sf-pro-text);
}
.div3,
.div4 {
  position: absolute;
  width: 5.6%;
  top: calc(50% - 73.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.div4 {
  width: 9.33%;
  left: 68.8%;
  color: var(--color-gray-1);
}
.iconglyphstar {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 27.69%;
  right: 38.4%;
  bottom: 67.38%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.end-in-12001 {
  position: absolute;
  width: 22.67%;
  top: calc(50% - 25.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-coral);
  display: inline-block;
}
.iconglyphstar-copy,
.path-5-icon {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 42.46%;
  right: 38.4%;
  bottom: 52.62%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path-5-icon {
  height: 14.29%;
  width: 12.5%;
  top: 85.71%;
  right: 87.5%;
  bottom: 0;
  left: 0;
}
.rectangle1 {
  position: absolute;
  height: 85.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 14.29%;
  left: 0;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  background-color: var(--color-turquoise-100);
}
.div5 {
  position: absolute;
  width: 75%;
  top: calc(50% - 7.5px);
  left: 12.5%;
  letter-spacing: 0.07px;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
}
.group-div2 {
  position: absolute;
  height: 6.46%;
  width: 8.53%;
  top: 16.92%;
  right: 88.27%;
  bottom: 76.62%;
  left: 3.2%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-sf-pro-text);
}
.rectangle2 {
  position: absolute;
  height: 38.15%;
  width: 91.47%;
  top: 57.54%;
  right: 4.27%;
  bottom: 4.31%;
  left: 4.27%;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: var(--effect);
}
.blue-sofa,
.div6,
.div7 {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.blue-sofa {
  width: 17.6%;
  top: calc(50% + 40.5px);
  left: 57.33%;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
}
.div6,
.div7 {
  font-weight: 500;
}
.div6 {
  width: 8.8%;
  top: calc(50% + 90.5px);
  left: 76.8%;
  letter-spacing: 0.41px;
  color: var(--color-coral);
}
.div7 {
  width: 69.84%;
  top: calc(50% - 9px);
  left: 31.75%;
  text-decoration: line-through;
  letter-spacing: -0.08px;
}
.group-div3 {
  position: absolute;
  height: 5.54%;
  width: 16.8%;
  top: 77.85%;
  right: 25.87%;
  bottom: 16.62%;
  left: 57.33%;
  overflow: hidden;
  color: var(--color-gray-1);
  font-family: var(--font-sf-pro-text);
}
.div8,
.div9 {
  position: absolute;
  width: 5.6%;
  top: calc(50% + 66.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.div9 {
  width: 9.33%;
  left: 68.8%;
  color: var(--color-gray-1);
}
.iconglyphstar1 {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 70.77%;
  right: 38.4%;
  bottom: 24.31%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.end-in-120011 {
  position: absolute;
  width: 22.67%;
  top: calc(50% + 114.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-coral);
  display: inline-block;
}
.iconglyphstar-copy1 {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 85.54%;
  right: 38.4%;
  bottom: 9.54%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div4 {
  position: absolute;
  height: 6.46%;
  width: 8.53%;
  top: 60%;
  right: 88.27%;
  bottom: 33.54%;
  left: 3.2%;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
  font-family: var(--font-sf-pro-text);
}
.deal-of-the-day,
.see-all {
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.see-all {
  left: 311px;
  color: var(--color-coral);
  text-align: right;
}
.frame-icon,
.frame-icon1 {
  position: absolute;
  top: 69px;
  left: 49px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.frame-icon1 {
  top: 215px;
}
.dealsection {
  position: relative;
  background-color: var(--color-white);
  width: 400px;
  height: 325px;
  flex-shrink: 0;
  overflow: hidden;
}
.best-seller {
  position: absolute;
  top: 7px;
  left: 16px;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  text-align: left;
}
.rectangle-copy-31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: var(--effect);
}
.pattern-armchair {
  position: absolute;
  top: calc(50% + 41px);
  left: 13.41%;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.iconglyphbuy-copy-11 {
  position: absolute;
  height: 8.96%;
  width: 12.2%;
  top: 4.42%;
  right: 6.1%;
  bottom: 86.62%;
  left: 81.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div11 {
  position: absolute;
  top: calc(50% - 9px);
  left: 43.22%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.iconglyphstar-copy-22 {
  position: absolute;
  height: 88.89%;
  width: 27.12%;
  top: 5.56%;
  right: 72.88%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div5 {
  position: absolute;
  height: 7.96%;
  width: 35.98%;
  top: 87.61%;
  right: 31.71%;
  bottom: 4.42%;
  left: 32.32%;
  overflow: hidden;
}
.div12,
.div13 {
  position: absolute;
  top: calc(50% - 9px);
  left: 25.64%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.div13 {
  left: 55.13%;
  color: var(--color-gray-1);
}
.group-div6,
.iconglyphstar2 {
  position: absolute;
  overflow: hidden;
}
.iconglyphstar2 {
  height: 88.89%;
  width: 20.51%;
  top: 5.56%;
  right: 79.49%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.group-div6 {
  height: 7.96%;
  width: 47.56%;
  top: 77.88%;
  right: 26.22%;
  bottom: 14.16%;
  left: 26.22%;
}
.rectangle-copy-3 {
  position: absolute;
  top: 41px;
  left: 16px;
  width: 164px;
  height: 226px;
}
.div14,
.pattern-armchair1 {
  position: absolute;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.pattern-armchair1 {
  top: calc(50% + 41px);
  left: 25%;
  font-size: var(--body-s-size);
}
.div14 {
  top: calc(50% - 9px);
  left: 44.92%;
  font-weight: 500;
}
.rectangle-copy-5 {
  position: absolute;
  top: 283px;
  left: 16px;
  width: 164px;
  height: 226px;
}
.div17 {
  position: absolute;
  top: calc(50% - 9px);
  left: 41.53%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.rectangle-copy-4 {
  position: absolute;
  top: 41px;
  left: 195px;
  width: 164px;
  height: 226px;
}
.div22,
.pattern-armchair3 {
  position: absolute;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.pattern-armchair3 {
  top: calc(50% + 41px);
  left: 27.44%;
  font-size: var(--body-s-size);
}
.div22 {
  top: calc(50% - 9px);
  left: 56.41%;
  font-weight: 500;
  color: var(--color-gray-1);
}
.rectangle-copy-6 {
  position: absolute;
  top: 283px;
  left: 195px;
  width: 164px;
  height: 226px;
}
.frame-icon2 {
  top: 82px;
  left: 57px;
}
.frame-icon2,
.frame-icon3,
.frame-icon4,
.frame-icon5 {
  position: absolute;
  width: 84px;
  height: 84px;
  overflow: hidden;
}
.frame-icon3 {
  top: 324px;
  left: 240px;
}
.frame-icon4 {
  top: 324px;
  left: 57px;
}
.frame-icon5 {
  top: 82px;
  left: 240px;
}
.bestsellersection {
  position: relative;
  background-color: var(--color-white);
  width: 400px;
  height: 521px;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
}
.homepage {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  text-align: left;
  font-size: var(--other-m-size);
  color: var(--color-black);
  font-family: var(--caption);
}
