.rectangle-copy {
  position: absolute;
  height: 6.45%;
  width: 1.26%;
  top: 90.86%;
  right: 94.95%;
  bottom: 2.69%;
  left: 3.79%;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
}
.mask-group-icon {
  position: absolute;
  height: 100%;
  width: 100.32%;
  top: 0;
  right: 0;
  bottom: 0;
  left: -0.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon,
.wallet-no {
  position: absolute;
  display: none;
}
.group-icon {
  height: 17.06%;
  width: 9.84%;
  top: 13.61%;
  right: 9.7%;
  bottom: 69.32%;
  left: 80.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wallet-no {
  top: calc(50% + 23.4px);
  left: 14.83%;
}
.span {
  font-size: var(--body-s-size);
}
.lyr {
  font-size: var(--font-size-4xs);
  color: var(--color-gray-100);
}
.div,
.usd-wallet {
  position: absolute;
  display: inline-block;
}
.div {
  top: calc(50% - 44.6px);
  left: 14.83%;
  letter-spacing: 0.3px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  font-size: var(--font-size-2xl);
}
.usd-wallet {
  top: calc(50% - 91.6px);
  left: 14.75%;
  font-size: var(--font-size-xl);
}
.rectangle,
.rectangle1 {
  position: absolute;
  height: 6.45%;
  width: 1.26%;
  top: 6.99%;
  right: 94.95%;
  bottom: 86.56%;
  left: 3.79%;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
}
.rectangle1 {
  top: 87.63%;
  bottom: 5.91%;
}
.lyra-walle {
  letter-spacing: 4.47px;
}
.cen-wallet-copy {
  position: absolute;
  top: calc(50% + 48.9px);
  left: 2.05%;
  font-size: var(--other-11-size);
  line-height: 13px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.div1 {
  position: relative;
  letter-spacing: 3.5px;
  display: none;
}
.frame-div1 {
  position: absolute;
  top: 172px;
  left: 53px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.illuscard-3-copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 261.2px;
  font-size: var(--font-size-4xs);
}
.span1 {
  font-size: var(--font-size-2xl);
}
.div2 {
  width: 38.17%;
  top: calc(50% - 11.6px);
  left: 15.14%;
  letter-spacing: 0.3px;
  font-weight: 600;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  font-size: var(--body-s-size);
}
.div2,
.div3,
.wallet-no1 {
  position: absolute;
  display: inline-block;
}
.wallet-no1 {
  width: 11.04%;
  top: calc(50% + 47.4px);
  left: 74.76%;
  color: var(--color-gray-100);
}
.div3 {
  width: 4.42%;
  top: calc(50% + 67.4px);
  left: 78.55%;
  font-size: var(--font-size-xl);
  letter-spacing: 3.5px;
  font-weight: 600;
}
.wallet-no2 {
  width: 13.25%;
  top: calc(50% + 47.4px);
  left: 50.79%;
  color: var(--color-gray-100);
}
.div4,
.wallet-no2,
.wallet-no3 {
  position: absolute;
  display: inline-block;
}
.div4 {
  width: 3.15%;
  top: calc(50% + 67.4px);
  left: 56.47%;
  font-size: var(--font-size-xl);
  letter-spacing: 3.5px;
  font-weight: 600;
}
.wallet-no3 {
  width: 7.57%;
  top: calc(50% + 47.4px);
  left: 33.12%;
  color: var(--color-gray-100);
}
.div5 {
  width: 4.42%;
  top: calc(50% + 67.4px);
  left: 35.02%;
  font-size: var(--font-size-xl);
  letter-spacing: 3.5px;
  font-weight: 600;
}
.div5,
.div6,
.wallet-no4 {
  position: absolute;
  display: inline-block;
}
.wallet-no4 {
  width: 7.89%;
  top: calc(50% + 47.4px);
  left: 14.83%;
  color: var(--color-gray-100);
}
.div6 {
  width: 7.5%;
  top: calc(50% + 67.4px);
  left: 15.25%;
  font-size: var(--font-size-xl);
  letter-spacing: 3.5px;
  font-weight: 600;
}
.group-icon1 {
  position: absolute;
  height: 21.74%;
  width: 14.2%;
  top: 6.76%;
  right: 4.73%;
  bottom: 71.5%;
  left: 81.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-div {
  position: relative;
  width: 400px;
  height: 261.2px;
  flex-shrink: 0;
}
.div13,
.div7 {
  position: absolute;
  display: inline-block;
}
.div7 {
  top: calc(50% - 44.6px);
  left: 14.83%;
  letter-spacing: 0.3px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  font-size: var(--body-s-size);
}
.div13 {
  width: 3.15%;
  top: calc(50% + 67.4px);
  left: 17.67%;
  font-size: var(--font-size-xl);
  letter-spacing: 3.5px;
  font-weight: 600;
}
.bannersection {
  align-self: stretch;
  background-color: var(--color-white);
  height: 317px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 36px 42px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  font-size: var(--caption-size);
  color: var(--color-white);
  font-family: var(--font-sf-pro-text);
}
.home-icon-ranking {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.otc-trade {
  position: relative;
  line-height: 18px;
  display: inline-block;
}
.cataloguesection,
.home-icon-component {
  align-self: stretch;
  background-color: var(--color-white);
  flex-shrink: 0;
  display: flex;
  gap: var(--gap-0);
}
.home-icon-component {
  width: 83px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cataloguesection {
  height: 87px;
  flex-direction: row;
  padding: 0 var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--black-000000100);
}
.buy-tv-at-sony-store,
.div15,
.recent-transaction {
  position: absolute;
  letter-spacing: 0.41px;
  display: inline-block;
}
.recent-transaction {
  margin: 0 !important;
  top: 12px;
  left: 16px;
  font-size: var(--headline-s-size);
  line-height: 22px;
  font-weight: 600;
  z-index: 0;
}
.buy-tv-at-sony-store,
.div15 {
  left: 0;
}
.buy-tv-at-sony-store {
  top: calc(50% - 23.75px);
  line-height: 18px;
  font-weight: 600;
  color: var(--color-gray-400);
}
.div15 {
  top: calc(50% - 1.75px);
  font-size: var(--other-11-size);
  line-height: 13px;
  font-weight: 500;
}
.div16,
.path-icon {
  position: absolute;
  right: 0;
}
.div16 {
  top: calc(50% - 23.75px);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 600;
  text-align: right;
  display: inline-block;
}
.path-icon {
  height: 2.13%;
  width: 100%;
  top: 99.1%;
  bottom: -1.23%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.copy {
  align-self: stretch;
  position: relative;
  height: 55.5px;
  flex-shrink: 0;
}
.frame-div4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 24px var(--padding-sm) var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  z-index: 1;
  color: var(--color-gray-300);
}
.more {
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 19px;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  color: var(--color-brown-100);
  text-align: right;
  z-index: 2;
}
.lasttransactions,
.rectangle4 {
  background-color: var(--color-white);
}
.lasttransactions {
  align-self: stretch;
  height: 190px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 15px var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 3px;
  font-size: var(--body-s-size);
}
.rectangle4 {
  position: absolute;
  height: 38.15%;
  width: 91.47%;
  top: 14.46%;
  right: 4.27%;
  bottom: 47.38%;
  left: 4.27%;
  border-radius: var(--br-md);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
}
.div19,
.div20,
.yellow-sofa {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.yellow-sofa {
  width: 21.6%;
  top: calc(50% - 99.5px);
  left: 57.33%;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
}
.div19,
.div20 {
  font-weight: 500;
}
.div19 {
  width: 9.07%;
  top: calc(50% - 49.5px);
  left: 76.8%;
  letter-spacing: 0.41px;
  color: var(--color-brown-100);
}
.div20 {
  width: 68.25%;
  top: calc(50% - 9px);
  left: 31.75%;
  text-decoration: line-through;
  letter-spacing: -0.08px;
}
.iconglyphstar-copy-2 {
  position: absolute;
  height: 88.89%;
  width: 25.4%;
  top: 5.56%;
  right: 74.6%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: absolute;
  height: 5.54%;
  width: 16.8%;
  top: 34.77%;
  right: 25.87%;
  bottom: 59.69%;
  left: 57.33%;
  overflow: hidden;
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-text);
}
.div21,
.div22 {
  position: absolute;
  width: 5.6%;
  top: calc(50% - 73.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.div22 {
  width: 9.33%;
  left: 68.8%;
  color: var(--color-gray-300);
}
.iconglyphstar {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 27.69%;
  right: 38.4%;
  bottom: 67.38%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.end-in-12001 {
  position: absolute;
  width: 22.67%;
  top: calc(50% - 25.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-brown-100);
  display: inline-block;
}
.iconglyphstar-copy,
.path-5-icon {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 42.46%;
  right: 38.4%;
  bottom: 52.62%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path-5-icon {
  height: 14.29%;
  width: 12.5%;
  top: 85.71%;
  right: 87.5%;
  bottom: 0;
  left: 0;
}
.rectangle5 {
  position: absolute;
  height: 85.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 14.29%;
  left: 0;
  border-radius: 0 var(--br-sm) var(--br-sm) 0;
  background-color: var(--color-turquoise-100);
}
.div23 {
  position: absolute;
  width: 75%;
  top: calc(50% - 7.5px);
  left: 12.5%;
  letter-spacing: 0.07px;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
}
.group-div1 {
  position: absolute;
  height: 6.46%;
  width: 8.53%;
  top: 16.92%;
  right: 88.27%;
  bottom: 76.62%;
  left: 3.2%;
  overflow: hidden;
  text-align: center;
  font-size: var(--other-11-size);
  color: var(--color-white);
  font-family: var(--font-sf-pro-text);
}
.rectangle6 {
  position: absolute;
  height: 38.15%;
  width: 91.47%;
  top: 57.54%;
  right: 4.27%;
  bottom: 4.31%;
  left: 4.27%;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
}
.blue-sofa,
.div24,
.div25 {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.blue-sofa {
  width: 17.6%;
  top: calc(50% + 40.5px);
  left: 57.33%;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
}
.div24,
.div25 {
  font-weight: 500;
}
.div24 {
  width: 8.8%;
  top: calc(50% + 90.5px);
  left: 76.8%;
  letter-spacing: 0.41px;
  color: var(--color-brown-100);
}
.div25 {
  width: 69.84%;
  top: calc(50% - 9px);
  left: 31.75%;
  text-decoration: line-through;
  letter-spacing: -0.08px;
}
.group-div2 {
  position: absolute;
  height: 5.54%;
  width: 16.8%;
  top: 77.85%;
  right: 25.87%;
  bottom: 16.62%;
  left: 57.33%;
  overflow: hidden;
  color: var(--color-gray-300);
  font-family: var(--font-sf-pro-text);
}
.div26,
.div27 {
  position: absolute;
  width: 5.6%;
  top: calc(50% + 66.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.div27 {
  width: 9.33%;
  left: 68.8%;
  color: var(--color-gray-300);
}
.iconglyphstar1 {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 70.77%;
  right: 38.4%;
  bottom: 24.31%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.end-in-120011 {
  position: absolute;
  width: 22.67%;
  top: calc(50% + 114.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-brown-100);
  display: inline-block;
}
.iconglyphstar-copy1 {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 85.54%;
  right: 38.4%;
  bottom: 9.54%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div3 {
  position: absolute;
  height: 6.46%;
  width: 8.53%;
  top: 60%;
  right: 88.27%;
  bottom: 33.54%;
  left: 3.2%;
  overflow: hidden;
  text-align: center;
  font-size: var(--other-11-size);
  color: var(--color-white);
  font-family: var(--font-sf-pro-text);
}
.deal-of-the-day,
.see-all {
  position: absolute;
  top: 13px;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.deal-of-the-day {
  left: 16px;
}
.see-all {
  right: 23px;
  color: var(--color-brown-100);
  text-align: right;
}
.frame-icon,
.frame-icon1 {
  position: absolute;
  top: 76px;
  left: 108px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.frame-icon1 {
  top: 215px;
  left: 49px;
}
.dealsection {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 325px;
  flex-shrink: 0;
  overflow: hidden;
}
.best-seller {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.auto-added-frame {
  position: absolute;
  top: 7px;
  left: 16px;
  width: 570px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-s-size);
}
.rectangle-copy-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
}
.pattern-armchair {
  position: absolute;
  top: calc(50% + 41px);
  left: 13.41%;
  font-size: var(--body-s-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.iconglyphbuy-copy-11 {
  position: absolute;
  height: 8.96%;
  width: 12.2%;
  top: 4.42%;
  right: 6.1%;
  bottom: 86.62%;
  left: 81.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div29 {
  position: absolute;
  top: calc(50% - 9px);
  left: 43.22%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.iconglyphstar-copy-22 {
  position: absolute;
  height: 88.89%;
  width: 27.12%;
  top: 5.56%;
  right: 72.88%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div4 {
  position: absolute;
  height: 7.96%;
  width: 35.98%;
  top: 87.61%;
  right: 31.71%;
  bottom: 4.42%;
  left: 32.32%;
  overflow: hidden;
}
.div30,
.div31 {
  position: absolute;
  top: calc(50% - 9px);
  left: 25.64%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.div31 {
  left: 55.13%;
  color: var(--color-gray-300);
}
.iconglyphstar2 {
  height: 88.89%;
  width: 20.51%;
  top: 5.56%;
  right: 79.49%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.frame-icon2,
.group-div5,
.iconglyphstar2 {
  position: absolute;
  overflow: hidden;
}
.group-div5 {
  height: 7.96%;
  width: 47.56%;
  top: 77.88%;
  right: 26.22%;
  bottom: 14.16%;
  left: 26.22%;
}
.frame-icon2 {
  top: 44px;
  left: 41px;
  width: 84px;
  height: 84px;
}
.card-e-commerce-1 {
  position: relative;
  width: 164px;
  height: 226px;
  flex-shrink: 0;
}
.frame-div5 {
  position: absolute;
  top: 40px;
  left: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.div32,
.div33,
.div34,
.pattern-armchair1 {
  position: absolute;
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.pattern-armchair1 {
  width: 73.17%;
  top: calc(50% + 41px);
  left: 13.41%;
  font-size: var(--body-s-size);
}
.div32,
.div33,
.div34 {
  width: 55.93%;
  top: calc(50% - 9px);
  left: 43.22%;
  font-weight: 500;
}
.div33,
.div34 {
  width: 26.92%;
  left: 25.64%;
}
.div34 {
  width: 44.87%;
  left: 55.13%;
  color: var(--color-gray-300);
}
.card-e-commerce-11 {
  position: absolute;
  height: 38.57%;
  width: 27.24%;
  top: 8.53%;
  right: 39.64%;
  bottom: 52.9%;
  left: 33.12%;
}
.rectangle-copy-32 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -1.33%;
  right: 0;
  bottom: 1.33%;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 23px rgba(0, 0, 0, 0.12);
}
.card-e-commerce-2 {
  position: absolute;
  height: 38.57%;
  width: 27.24%;
  top: 9.04%;
  right: 3.99%;
  bottom: 52.39%;
  left: 68.77%;
}
.bestsellersection {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 586px;
  flex-shrink: 0;
  overflow: hidden;
}
.market,
.market1 {
  display: flex;
  flex-direction: column;
}
.market1 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.market {
  position: relative;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--regular-body-size);
  color: var(--color-gray-400);
  font-family: var(--caption);
}
