.wallet-name-label {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 40px;
  left: 49px;
  font-size: var(--font-size-2xl);
  font-weight: 700;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.span1 {
  font-size: var(--body-b1-size);
}
.span {
  font-size: var(--font-size-2xs);
  color: var(--color-gray-200);
}
.basebalance {
  position: absolute;
  margin: 0 !important;
  top: 75px;
  left: 49px;
  letter-spacing: 0.3px;
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  z-index: 2;
}
.span2 {
  font-size: var(--font-size-3xl);
}
.aux-balance {
  position: absolute;
  margin: 0 !important;
  top: 115px;
  left: 49px;
  letter-spacing: 0.3px;
  font-weight: 600;
  display: inline-block;
  width: 152.68px;
  flex-shrink: 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.24);
  z-index: 3;
  font-size: var(--body-b1-size);
}
.div {
  position: relative;
  letter-spacing: 3.5px;
  display: none;
}
.token-catalog {
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14px;
  color: var(--color-white1);
}
.trades-count,
.trades-label {
  position: absolute;
  width: 14.87%;
  top: calc(50% - 22.5px);
  left: 83.5%;
  display: inline-block;
}
.trades-count {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 5.95%;
  top: calc(50% - 2.5px);
  left: 87.88%;
  font-size: var(--font-size-2xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: left;
}
.orders-count,
.orders-label {
  position: absolute;
  width: 17.84%;
  top: calc(50% - 22.5px);
  left: 51.85%;
  display: inline-block;
}
.orders-count {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 4.25%;
  top: calc(50% - 1.5px);
  left: 58.59%;
  font-size: var(--font-size-2xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: left;
}
.tft-label {
  width: 10.2%;
  top: calc(50% - 22.5px);
  left: 27.95%;
}
.nft-count,
.nft-label,
.tft-count,
.tft-label {
  position: absolute;
  display: inline-block;
}
.tft-count {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 5.95%;
  top: calc(50% - 2.5px);
  left: 30.3%;
  font-size: var(--font-size-2xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: left;
}
.nft-count,
.nft-label {
  width: 10.62%;
  top: calc(50% - 22.5px);
  left: 3.37%;
}
.nft-count {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 10.1%;
  top: calc(50% - 2.5px);
  left: 3.7%;
  font-size: var(--font-size-2xl);
  letter-spacing: 3.5px;
  font-weight: 600;
  font-family: var(--font-sf-pro-text);
  color: var(--color-white1);
  text-align: left;
}
.token-lists {
  position: absolute;
  margin: 0 !important;
  bottom: 10.5px;
  left: 41px;
  width: 261px;
  height: 63px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 4;
  font-size: var(--caption1-size);
  color: var(--color-gray-200);
}
.qrcode-button-round {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--color-gray-100);
  opacity: 0.5;
  mix-blend-mode: normal;
  cursor: pointer;
}
.qrcode-icon {
  position: absolute;
  top: 14.33px;
  right: 14.07px;
  width: 29px;
  height: 29px;
}
.qrcode-button,
.wallet-decoration {
  position: absolute;
  margin: 0 !important;
}
.qrcode-button {
  top: 24px;
  right: 42.22px;
  width: 56.78px;
  height: 56.78px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 5;
}
.wallet-decoration {
  width: 23.35%;
  top: calc(50% + 43.5px);
  left: 1.88%;
  font-size: 6px;
  letter-spacing: 4.47px;
  line-height: 13px;
  display: inline-block;
  height: 17.35px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 6;
}
.rectangle,
.rectangle1 {
  position: absolute;
  margin: 0 !important;
  height: 6.37%;
  width: 1.26%;
  top: 10.04%;
  right: 95.92%;
  bottom: 83.59%;
  left: 2.82%;
  border-radius: var(--br-2xs);
  background-color: var(--color-white1);
  z-index: 7;
}
.rectangle1 {
  top: 83.53%;
  bottom: 10.09%;
  z-index: 8;
}
.mask-group,
.walletcard {
  display: flex;
  flex-direction: row;
}
.mask-group {
  border-radius: var(--br-md);
  background-color: var(--black-000000100);
  width: 424px;
  height: 247px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-0);
}
.walletcard {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.bannersection,
.frame-div,
.iconssection {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.bannersection {
  background-color: var(--color-white1);
  height: 282px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  color: var(--color-white1);
  font-family: var(--font-sf-pro-text);
}
.frame-div,
.iconssection {
  align-items: flex-start;
}
.frame-div {
  background-color: var(--color-white1);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-0);
}
.iconssection {
  flex-direction: column;
}
.div1,
.div2,
.recent-transaction {
  position: absolute;
  margin: 0 !important;
  letter-spacing: 0.41px;
  display: inline-block;
}
.recent-transaction {
  top: 12px;
  left: 16px;
  line-height: 22px;
  font-weight: 600;
  z-index: 0;
}
.div1,
.div2 {
  right: 10px;
  bottom: 20px;
  line-height: 18px;
  z-index: 2;
}
.div2 {
  bottom: 87px;
  z-index: 3;
}
.frame-div1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 30px var(--padding-sm) var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-md);
  z-index: 1;
  text-align: right;
  font-size: var(--caption1-size);
  color: var(--black-000000100);
}
.more {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 19px;
  font-size: var(--body-b1-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 700;
  font-family: var(--caption1);
  color: var(--color-coral);
  text-align: right;
  display: inline-block;
  z-index: 2;
}
.lasttransactions,
.rectangle2 {
  background-color: var(--color-white1);
}
.lasttransactions {
  align-self: stretch;
  height: 180px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 15px var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 3px;
  font-size: var(--headline-s1-size);
}
.rectangle2 {
  position: absolute;
  height: 38.15%;
  width: 91.47%;
  top: 14.46%;
  right: 4.27%;
  bottom: 47.38%;
  left: 4.27%;
  border-radius: var(--br-sm);
  box-shadow: var(--effect);
}
.div3,
.div4,
.yellow-sofa {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.yellow-sofa {
  width: 21.6%;
  top: calc(50% - 99.5px);
  left: 57.33%;
  font-size: var(--body-b1-size);
  letter-spacing: 0.41px;
}
.div3,
.div4 {
  font-weight: 500;
}
.div3 {
  width: 9.07%;
  top: calc(50% - 49.5px);
  left: 76.8%;
  letter-spacing: 0.41px;
  color: var(--color-coral);
}
.div4 {
  width: 68.25%;
  top: calc(50% - 9.33px);
  left: 31.75%;
  text-decoration: line-through;
  letter-spacing: -0.08px;
}
.iconglyphstar-copy-2 {
  position: absolute;
  height: 88.89%;
  width: 25.4%;
  top: 5.56%;
  right: 74.6%;
  bottom: 5.56%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div {
  position: absolute;
  height: 5.54%;
  width: 16.8%;
  top: 34.77%;
  right: 25.87%;
  bottom: 59.69%;
  left: 57.33%;
  overflow: hidden;
  color: var(--color-gray-11);
  font-family: var(--font-sf-pro-text);
}
.div5,
.div6 {
  position: absolute;
  width: 5.6%;
  top: calc(50% - 73.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.div6 {
  width: 9.33%;
  left: 68.8%;
  color: var(--color-gray-11);
}
.iconglyphstar {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 27.69%;
  right: 38.4%;
  bottom: 67.38%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.end-in-12001 {
  position: absolute;
  width: 22.67%;
  top: calc(50% - 25.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-coral);
  display: inline-block;
}
.iconglyphstar-copy,
.path-5-icon {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 42.46%;
  right: 38.4%;
  bottom: 52.62%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path-5-icon {
  height: 14.29%;
  width: 12.5%;
  top: 85.71%;
  right: 87.5%;
  bottom: 0;
  left: 0;
}
.rectangle3 {
  position: absolute;
  height: 85.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 14.29%;
  left: 0;
  border-radius: 0 var(--br-xs) var(--br-xs) 0;
  background-color: var(--color-turquoise);
}
.div7 {
  position: absolute;
  width: 75%;
  top: calc(50% - 7.89px);
  left: 12.5%;
  letter-spacing: 0.07px;
  line-height: 13px;
  font-weight: 500;
  display: inline-block;
}
.group-div1 {
  position: absolute;
  height: 6.46%;
  width: 8.53%;
  top: 16.92%;
  right: 88.27%;
  bottom: 76.62%;
  left: 3.2%;
  overflow: hidden;
  text-align: center;
  font-size: var(--other-11-size);
  color: var(--color-white1);
  font-family: var(--font-sf-pro-text);
}
.rectangle4 {
  position: absolute;
  height: 38.15%;
  width: 91.47%;
  top: 57.54%;
  right: 4.27%;
  bottom: 4.31%;
  left: 4.27%;
  border-radius: var(--br-sm);
  background-color: var(--color-white1);
  box-shadow: var(--effect);
}
.blue-sofa,
.div8,
.div9 {
  position: absolute;
  line-height: 18px;
  display: inline-block;
}
.blue-sofa {
  width: 17.6%;
  top: calc(50% + 40.5px);
  left: 57.33%;
  font-size: var(--body-b1-size);
  letter-spacing: 0.41px;
}
.div8,
.div9 {
  font-weight: 500;
}
.div8 {
  width: 8.8%;
  top: calc(50% + 90.5px);
  left: 76.8%;
  letter-spacing: 0.41px;
  color: var(--color-coral);
}
.div9 {
  width: 69.84%;
  top: calc(50% - 9.33px);
  left: 31.75%;
  text-decoration: line-through;
  letter-spacing: -0.08px;
}
.group-div2 {
  position: absolute;
  height: 5.54%;
  width: 16.8%;
  top: 77.85%;
  right: 25.87%;
  bottom: 16.62%;
  left: 57.33%;
  overflow: hidden;
  color: var(--color-gray-11);
  font-family: var(--font-sf-pro-text);
}
.div10,
.div11 {
  position: absolute;
  width: 5.6%;
  top: calc(50% + 66.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}
.div11 {
  width: 9.33%;
  left: 68.8%;
  color: var(--color-gray-11);
}
.iconglyphstar1 {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 70.77%;
  right: 38.4%;
  bottom: 24.31%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.end-in-120011 {
  position: absolute;
  width: 22.67%;
  top: calc(50% + 114.5px);
  left: 62.67%;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-coral);
  display: inline-block;
}
.iconglyphstar-copy1 {
  position: absolute;
  height: 4.92%;
  width: 4.27%;
  top: 85.54%;
  right: 38.4%;
  bottom: 9.54%;
  left: 57.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div3 {
  position: absolute;
  height: 6.46%;
  width: 8.53%;
  top: 60%;
  right: 88.27%;
  bottom: 33.54%;
  left: 3.2%;
  overflow: hidden;
  text-align: center;
  font-size: var(--other-11-size);
  color: var(--color-white1);
  font-family: var(--font-sf-pro-text);
}
.deal-of-the-day,
.see-all {
  position: absolute;
  top: 13px;
  font-size: var(--body-b1-size);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
}
.deal-of-the-day {
  left: 16px;
}
.see-all {
  right: 23px;
  color: var(--color-coral);
  text-align: right;
}
.frame-icon,
.frame-icon1 {
  position: absolute;
  top: 76px;
  left: 108px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.frame-icon1 {
  top: 218px;
}
.dealsection {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white1);
  height: 337px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: var(--other-m1-size);
}
.market {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black1);
  font-family: var(--caption1);
}
