.i-want-to-sell {
  position: relative;
  letter-spacing: 0.41px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  width: 119px;
}
.material-symbolsgenerating-to-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.token {
  position: relative;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  font-family: var(--caption1);
  color: var(--black-000000100);
  text-align: center;
  width: 90px;
}
.frame-div4,
.select-token-button2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-div4 {
  gap: var(--gap-lg);
}
.select-token-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-lg);
  background-color: var(--color-orange);
  border-radius: var(--br-sm);
  box-shadow: var(--effect);
  width: 100px;
  height: 90px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.nft {
  position: relative;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  width: 90px;
}
.frame-div6,
.select-nft-button {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select-nft-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 0;
  background-color: var(--color-indigo);
  border-radius: var(--br-sm);
  width: 100px;
  height: 90px;
  box-sizing: border-box;
}
.frame-div6 {
  width: 90px;
  height: 56px;
  gap: var(--gap-lg);
}
.frame-button,
.frame-button1 {
  cursor: pointer;
  border: 0;
  border-radius: var(--br-sm);
  width: 100px;
  height: 90px;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: center;
}
.frame-button {
  padding: var(--padding-xs);
  background-color: var(--color-subbrand);
  box-shadow: var(--effect);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame-button1 {
  padding: var(--padding-2xs) 0;
  background-color: var(--color-coral);
}
.frame-button1,
.frame-button2,
.frame-div3,
.tradecatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 0;
  background-color: var(--color-green-100);
  border-radius: var(--br-sm);
  width: 100px;
  height: 90px;
  flex-shrink: 0;
  box-sizing: border-box;
  justify-content: center;
}
.frame-div3,
.tradecatalog {
  justify-content: flex-start;
}
.tradecatalog {
  background-color: var(--color-white1);
  width: 110px;
  overflow: hidden;
  padding: var(--padding-xs) 11px;
  box-sizing: border-box;
  gap: var(--gap-sm);
}
.frame-div3 {
  gap: var(--gap-xs);
}
.frame-div2,
.tradecatalog1 {
  background-color: var(--color-white1);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.tradecatalog1 {
  width: 105px;
  flex-direction: column;
  padding: var(--padding-xs) 0;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frame-div2 {
  flex-direction: row;
  padding: 0 8px;
  justify-content: center;
  gap: 18px;
}
.prepare-tokens {
  position: relative;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.41px;
  line-height: 18px;
  display: inline-block;
  font-family: var(--caption1);
  color: var(--color-white1);
  text-align: center;
  width: 188px;
  flex-shrink: 0;
}
.prepare-sell-order-button2,
.selecttokentypetocreateorder {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.prepare-sell-order-button2 {
  cursor: pointer;
  border: 1px solid var(--black-000000100);
  padding: var(--padding-xs);
  background-color: var(--color-gray-500);
  border-radius: var(--br-md);
  width: 208px;
  height: 41px;
  flex-shrink: 0;
  flex-direction: row;
}
.selecttokentypetocreateorder {
  position: relative;
  background-color: var(--color-white1);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-md) 66px;
  gap: 15px;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--black-000000100);
  font-family: var(--caption1);
}
