@page "/"
@inject IJSRuntime JsWindow;

<a href="/market">market</a> &nbsp;
<a href="/open-wallet">open wallet</a> &nbsp;
<a href="/create-wallet">create wallet</a> &nbsp;

<div id="root"></div>



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (true)
        {
            await JsWindow.InvokeVoidAsync("loadScript", "_content/ReactRazor/static/js/main.js");
            //await JsWindow.InvokeVoidAsync("bruic.openwallet", _react);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}