@namespace UserLibrary.Components
@inject IJSRuntime JSRuntime

<div style="width: 90%; display:flex;">
    <input style="font-weight: bold;width: 100%;" readonly type="text" value="@Text" />
    <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="CopyTextToClipboard">Copy</MudButton>
</div>

@code {    
    [Parameter] public string Text { get; set; }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Text);
    }
}