.swc {
	display: flex;
	padding: 3px;
	background: #FFFFFF;
	display: inline-block;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
	font-size: 14px;
}

.swt {
	margin: 10px;
	border-collapse: separate;
	background: #FFFFFF;
	border: 3px;
}

.round {
	border-radius: 15px;
	padding: 5px;
	background: white;
}

	.swt td {
		background-clip: padding-box;
		color: black;
		border: 5px solid #FFFFFF;
		border-radius: 5px;
		background: #FFFFFF;
	}

	.swt tr td:nth-child(2) {
		text-align: right;
	}
