.tg {
	display: flex;
	gap: 15px;
	align-items: center;
	vertical-align: middle;
}

.top-row {
	justify-content: space-between;
	display: flex;
	align-items: center;
	width: 100%;
}

.icon {
	margin-top: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

	.top-row ::deep a, .top-row .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
	}

	.top-row a:first-child {
		overflow: hidden;
		text-overflow: ellipsis;
	}


