@page "/entry"
@using Fluxor
@using Nebula.Store.WebWalletUseCase
@using UserLibrary.Data

<PageTitle>Lyra Wallet App</PageTitle>

<div class="mag">
    <h1>Hello, Lyrians.</h1>

Welcome to Lyra Decentralised Business Ecosystem!


</div>


@code
{
    [Inject]
    private IDispatcher Dispatcher { get; set; }

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = "Lyra App Home" });
        base.OnInitialized();
    }
}