.fh {
    height: 100%;
}

.scr {    

}

.act {
    font-weight: bold;
}
.top {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: yellow;
    padding: 10px;
}

.chatw {
    margin: 5px;
    max-width: 500px;
    height: 700px;
    overflow: auto;
}

.inp {
    max-width: 500px;
    display: flex;
    margin: 1px;
    padding: 2px;
    align-content: center;
    justify-content: space-between;
}

.inps {
    width: 10px;
    height: 10px;
}

.emj {
    padding: 2px;
    font-size: xx-large;
}

.para {
    padding: 8px;
}

.peerw {
    
}

.mew {    
    align-content: end;
}

.dealerw {
    width: 100%;
}

.peermsg {
    background-color: lightgray;
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

.memsg {
    background-color: lawngreen;
    margin-right: 15px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    text-align: right;
}

.dealermsg {
    background-color: white;
    border: groove;
}

.thumb {
    border: 1px solid #ddd; /* Gray border */
    width: 150px; /* Set a small width */
}

.fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}

.test {
    
}