.chatw {
    width: 400px;
    padding: 5px;
}

.para {

}

.peerw {
    
}

.mew {    
    align-content: end;
}

.dealerw {
    width: 100%;
}

.peermsg {
    background-color: lightgray;
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

.memsg {
    background-color: lawngreen;
    margin-right: 15px;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    text-align: right;
}

.dealermsg {
    background-color: white;
    border: groove;
}