@page "/"
@using Fluxor
@using Nebula.Store.WebWalletUseCase

<div class="mag">


    <MudGrid>
        @foreach (var kvp in Apps)
        {
            <MudItem xs="3">
                <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudLink Href="@kvp.link" Underline="Underline.None">
                        <div class="progicon">
                            <MudIcon Icon="@kvp.icon" Title="Swap" />
                            <MudText>@kvp.name</MudText>
                        </div>
                    </MudLink>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>

</div>

@code {
    [Inject]
    private IDispatcher Dispatcher { get; set; }

    (string name, string link, string icon)[] Apps;

    protected override void OnInitialized()
    {
        Apps = new (string name, string link, string icon)[]
            {
                ("Swap", "/swap", Icons.Filled.SwapCalls),
                ("Wallet", "/wallet", Icons.Filled.AccountBalanceWallet),
                ("DEX", "/dex", Icons.Filled.Money),
                ("Staking", "/staking", Icons.Filled.WhereToVote),
                ("Mint", "/mint", Icons.Filled.GeneratingTokens),
                ("Revenue Center", "/profit", Icons.Filled.CalendarViewMonth),
                ("Settings", "/settings", Icons.Filled.Settings),
            };

        Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = "Lyra Business" });

        base.OnInitialized();
    }
}