@page "/staking"

@using Fluxor
@using Nebula.Store.WebWalletUseCase
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="mag">
@if(walletState.Value.wallet == null)
{
    <a href="/wallet">
            <MudButton Variant="MudBlazor.Variant.Filled" FullWidth="true" Color="Color.Primary" class="rounded-pill">
            <MudIcon Icon="@Icons.Filled.LockOpen" />
            Open Wallet
        </MudButton>
    </a>
}
else
{
    @if (walletState.Value.stkAccounts != null)
    {
        <UserLibrary.Components.Staking />
    }
    else
    {
        Dispatcher.Dispatch(new WebWalletStakingAction { wallet = walletState.Value.wallet });
        <p>Refreshing...</p>
    }
}

</div>

@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    protected override void OnInitialized()
    {
       SubscribeToAction<WebWalletResultAction>(a =>
            {
                StateHasChanged();
            });
        Dispatcher.Dispatch(new WebWalletChangeTitleAction { title = "Lyra Staking" });
        base.OnInitialized();
    }
   
}
