@page "/staking"

@using Fluxor
@using Nebula.Store.WebWalletUseCase

<div class="mag">
@if(walletState.Value.wallet == null)
{
    <MudButton Variant="Variant.Filled" FullWidth="true" Color="Color.Primary" class="rounded-pill">
        <MudIcon Name="IconName.Unlock" />
        Open Wallet
    </MudButton>
}
else
{
    @if (walletState.Value.brokerAccounts != null)
    {
        <UserLibrary.Components.Staking />
    }
    else
    {
        Dispatcher.Dispatch(new WebWalletStakingAction { wallet = walletState.Value.wallet });
        <p>Refreshing...</p>
    }
}

</div>

@code {
    [Inject]
    private IState<WebWalletState> walletState { get; set; }

    [Inject]
    private IDispatcher Dispatcher { get; set; }

    protected override void OnInitialized()
    {
        walletState.StateChanged += this.WalletChanged;

        base.OnInitialized();
    }

    private void WalletChanged(object sender, WebWalletState wallet)
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        }
        );
    }
    
    public void Dispose()
    {
        walletState.StateChanged -= this.WalletChanged;
    }
}
