@namespace UserLibrary.Pages
@page "/swap"

<MudTabs Rounded="true" Centered="true">
    <MudTabPanel Text="Swap">
        <div class="pad mag"><Swap /></div>
    </MudTabPanel>
    <MudTabPanel Text="Pool">
        <div class="pad mag"><Pool /></div>
    </MudTabPanel>
</MudTabs>
