@namespace UserLibrary.Pages
@page "/"
@page "/swap"

<MudTabs Elevation="2" Rounded="true" Centered="true" Color="Color.Secondary">
    <MudTabPanel Text="Swap">
        <div class="pad mag"><Swap /></div>
    </MudTabPanel>
    <MudTabPanel Text="Pool">
        <div class="pad mag"><Pool /></div>
    </MudTabPanel>
</MudTabs>
