@import url("https://fonts.googleapis.com/css2?family=Myriad+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-myriad-pro: "Myriad Pro";
  --caption: "SF Pro Display";
  --font-sf-pro-text: "SF Pro Text";

  /* font sizes */
  --font-size-4xs: 10px;
  --other-11-size: 11px;
  --caption-size: 12px;
  --regular-body-size: 13px;
  --font-size-sm: 14px;
  --body-s-size: 15px;
  --headline-s-size: 17px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --large-title-size: 34px;

  /* Colors */
  --color-white: #fff;
  --black-000000100: #000;
  --color-gray-100: #b6e0ff;
  --color-gray-200: #b5b5b5;
  --color-gray-300: #7f8592;
  --color-gray-400: #1b2749;
  --color-gray-500: rgba(255, 255, 255, 0.95);
  --color-brown-100: #fa7268;
  --color-turquoise-100: #00bece;

  /* Gaps */
  --gap-0: 0px;
  --gap-md: 12px;

  /* Paddings */
  --padding-sm: 10px;
  --padding-md: 16px;

  /* border radiuses */
  --br-xs: 2.5px;
  --br-sm: 4px;
  --br-md: 8px;
  --br-lg: 25px;
}
